[Unit]
Description=DNSMasq Docker DNS server.
After=network.target
After=docker.service
Wants=docker.service

[Service]
ExecStart=/usr/sbin/dnsmasq -k --interface=docker0 --except-interface=lo {% if dnsmasq_interfaces is defined %}{% for interface in dnsmasq_interfaces %}--except-interface={{ interface }} {% endfor %}{% endif %}--bind-interfaces

[Install]
WantedBy=multi-user.target
