---
url: "{{ jira_url }}"
rsa_cert_file: "/opt/stackstorm/configs/mykey.pem"
auth_method: "oauth"
oauth_token: "{{ jira_oauth_token }}"
oauth_secret: "{{ jira_oath_secret }}"
consumer_key: "{{ jira_consumer_key }}"
poll_interval: 30
project: "MAR"
verify: True
