---
# Used for post message action
post_message_action:
  webhook_url: "{{ stackstorm_slack_webhook_url }}"
  channel: "{{ stackstorm_slack_channel }}"
  username: "{{ stackstorm_slack_username }}"
  icon_emoji: ":panda_face:"

# Used for Slack sensor
sensor:
  token: "{{ stackstorm_slack_sensor_token }}"
  strip_formatting: false

action_token: "{{ stackstorm_slack_action_token }}"
admin:
  admin_token: ""
  organization: ""
  set_active: true
  attempts: 1
  auto_join_channels:
    - C0123456
