
export ST2_HOSTNAME="${ST2_HOSTNAME:-localhost}"

#####################################################################
# Hubot settings

# set if you don’t have a valid SSL certificate.
export NODE_TLS_REJECT_UNAUTHORIZED="${NODE_TLS_REJECT_UNAUTHORIZED:-0}"

# Hubot port - must be accessible from StackStorm
export EXPRESS_PORT="${EXPRESS_PORT:-8081}"

# Log level
export HUBOT_LOG_LEVEL="${HUBOT_LOG_LEVEL:-debug}"

# Bot name
export HUBOT_NAME="${HUBOT_NAME:-hubot}"
export HUBOT_ALIAS="${HUBOT_ALIAS:-!}"

######################################################################
# StackStorm settings

# StackStorm API endpoint.
export ST2_API_URL="${ST2_API_URL:-https://${ST2_HOSTNAME}/api}"

# StackStorm auth endpoint.
export ST2_AUTH_URL="${ST2_AUTH_URL:-https://${ST2_HOSTNAME}/auth}"

# StackStorm stream endpoint.
export ST2_STREAM_URL="${ST2_STREAM_URL:-https://${ST2_HOSTNAME}/stream}"

# StackStorm API key
export ST2_API_KEY="${ST2_API_KEY}"

# ST2 credentials. Fill in to use any stackstorm account.
# ST2 username:password pair will result in authentication token re-generation.
# (Uncomment ST2_AUTH_URL, ST2_AUTH_USERNAME, ST2_AUTH_PASSWORD and comment out ST2_API_KEY)
export ST2_AUTH_USERNAME="${ST2_AUTH_USERNAME:-st2admin}"
export ST2_AUTH_PASSWORD="${ST2_AUTH_PASSWORD:-{{ stackstorm_admin_pass }}}"

# Public URL of StackStorm instance: used it to offer links to execution details in a chat.
export ST2_WEBUI_URL="${ST2_WEBUI_URL:-https://${ST2_HOSTNAME}}"

######################################################################
# Chat service adapter settings

# Slack settings (https://github.com/slackhq/hubot-slack):
#
export HUBOT_ADAPTER=slack

# Obtain the Slack token from your app page at api.slack.com, it's the "Bot
# User OAuth Access Token" in the "OAuth & Permissions" section.

# WOOT DEV TOKEN
export HUBOT_SLACK_TOKEN={{ stackstorm_slack_bot_user_oauth_access_token }}

# Uncomment the following line to force hubot to exit if disconnected from slack.
# export HUBOT_SLACK_EXIT_ON_DISCONNECT=1
